# Copy and paste into a .env file, as this file and values serve only as a model. Insert your own values.

# --------- Secret Key ---------
# Insert the key that will be used as the SECRET_KEY in Django's settings.py. Create a strong secret key.
ENV_SECRET_KEY="kfjslkfjslkfewf4e848ew4twere35w0rew54re5w64r56"


# --------- JWT Signing Key ---------
# Secret for creating and verifying the integrity of JWT tokens.
ENV_SIGNING_KEY="jfksjlfjslsdfsdf0f56s48fw9e84fwe"

# --------- Database Settings ---------
# Type of the database (e.g., PostgreSQL)
DB_ENGINE="django.db.backends.postgresql"

# Database name
POSTGRES_DB="Database name"

# Database user name
POSTGRES_USER="Database user name"

# Database password
POSTGRES_PASSWORD="Password"

# Database host
# If you are using Postgres via Docker Compose, insert the name of the service you specified in the Compose file and not "localhost".
# Do not insert "localhost" to avoid issues when starting the Postgres container.
POSTGRES_HOST="Name of the service you gave in Docker Compose"

# Database port
POSTGRES_PORT="Port"

# --------- Email Settings ---------
# Credentials for authentication on the SMTP server
# Do not use the email password (Google account), use a Google app password (requires setting up two-step verification on Google).
# For more information: https://www.youtube.com/watch?v=qhBhnjdZ-9g
ENV_EMAIL_HOST_USER="your_email_for_authentication"
ENV_EMAIL_HOST_PASSWORD="your_google_app_password"
ENV_DEFAULT_FROM_EMAIL="sender_email"
ENV_EMAIL_HOST="smtp_server_address (e.g., smtp.gmail.com)"
ENV_EMAIL_PORT=587  # Default port for SMTP with TLS
ENV_EMAIL_USE_TLS=True  # Use TLS for the SMTP connection.

# --------- CORS Settings ---------
# Insert the allowed origins to access the API.
# All should be within a string, separated by commas.
ENV_CORS_ALLOWED_ORIGINS=""

# --------- Allowed Hosts ---------
# Specify the allowed hosts for development and production.
ENV_ALLOWED_HOSTS=""
