# Copie e cole em um arquivo .env, pois esse arquivo e valores servem somente como modelo. Insira os seus próprios valores.

# --------- Chave Secreta ---------
# Insira a chave que será usada como a SECRET_KEY do Django em settings.py. Crie uma chave secreta forte.
ENV_SECRET_KEY="kfjslkfjslkfewf4e848ew4twere35w0rew54re5w64r56"

# --------- Tempo de Expiração do Token ---------
# Insira o tempo de expiração do token nativo do Django.
# Valor: Inteiro que corresponde ao número de dias.
# Uso: Este token será criado para confirmação de cadastro, redefinição de senha e de email.
ENV_PASSWORD_RESET_TIMEOUT_DAYS=1

# --------- Chave de Assinatura JWT ---------
# Secret para criação e verificação de integridade de tokens JWT.
ENV_SIGNING_KEY="jfksjlfjslsdfsdf0f56s48fw9e84fwe"

# --------- Configurações do Banco de Dados ---------
# Tipo do banco de dados (ex: PostgreSQL)
DB_ENGINE="django.db.backends.postgresql"

# Nome do banco de dados
POSTGRES_DB="Nome do banco de dados"

# Nome do usuário do banco de dados
POSTGRES_USER="Nome do usuário do banco de dados"

# Senha do banco de dados
POSTGRES_PASSWORD="Senha"

# Host do banco de dados
# Se você for usar o Postgres via Docker Compose, insira o nome do serviço que você especificou no Compose e não "localhost".
# Não insira "localhost" para evitar problemas ao levantar o container Postgres.
POSTGRES_HOST="Nome do serviço que você deu no Docker Compose"

# Porta do banco de dados
POSTGRES_PORT="Porta"

# --------- Configurações de Email ---------
# Credenciais para autenticação no servidor SMTP
# Não use a senha do email (conta Google), use uma senha de aplicativo do Google (necessário configurar login em duas etapas no Google).
# Para mais informações: https://www.youtube.com/watch?v=qhBhnjdZ-9g
ENV_EMAIL_HOST_USER="seu_email_para_autenticacao"
ENV_EMAIL_HOST_PASSWORD="sua_senha_de_app_do_google"
ENV_DEFAULT_FROM_EMAIL="email_do_remetente"
ENV_EMAIL_HOST="endereco_do_servidor_smtp (ex: smtp.gmail.com)"
ENV_EMAIL_PORT=587  # Porta padrão para SMTP com TLS
ENV_EMAIL_USE_TLS=True  # Usar TLS para a conexão SMTP. User 

# --------- Configurações de CORS ---------
# Insira as origens permitidas para acessar a API.
# Todas devem estar dentro de uma string, separadas por vírgulas.
ENV_CORS_ALLOWED_ORIGINS=""

# --------- Hosts Permitidos ---------
# Informe os hosts permitidos para desenvolvimento e produção.
ENV_ALLOWED_HOSTS=""

# --------- Domínio ---------
# Se você tiver um domínio, informe aqui.
# Se você estiver em desenvolvimento na sua máquina (localhost), mantenha em branco.
ENV_DOMAIN=""
 
