# This .env file is used by Docker Compose to load environment variables that can be 
# accessed directly in the docker-compose.yml file. 
# Note: This file must be named ".env" and placed in the same directory as the 
# docker-compose.yml file for these variables to be recognized.
# Example: Variables defined here can be used in healthchecks, volume definitions, etc.
# So, insert here the environment variables you need in the docker-compose.yml file.
POSTGRES_DB=database_name
POSTGRES_USER=your_user_name
COMPOSE_PROJECT_NAME=projectname


