# Copy and paste into a .env file, as this file and values serve only as a model.
# Insert your own values.


## ------------  Environment -------------
# Set "production".
API_ENV=production


# --------- Secret Key ---------
# Insert the key that will be used as the SECRET_KEY in Django's settings.py.
# Create a strong secret key.
SECRET_KEY="kfjslkfjslkfewf4e848ew4twere35w0rew54re5w64r56"


# --------- JWT Signing Key ---------
# Secret for creating and verifying the integrity of JWT tokens.
TOKEN_SECRET="jfksjlfjslsdfsdf0f56s48fw9e84fwe"


# --------- Database Settings ---------
POSTGRES_DB=database_name
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
# Database host
# If you are using Postgres via Docker Compose, insert the name of the service you 
# specified in the Compose file and not "localhost".
# Do not insert "localhost" to avoid issues when starting the Postgres container.
POSTGRES_HOST="Name of the service you gave in Docker Compose"


# --------- Email Settings ---------
# Credentials for authentication on the SMTP server
# If you use google email, do not use the email password (Google account), 
# use a Google app password (requires setting up two-step verification on Google).

USER_CREDENTIAL_SMTP=your_user_credential_for_authentication_smtp
PASSWORD_CREDENTIAL_SMTP=your_password_credential_for_authentication_smtp
# The default email address to be used as the sender in sent messages.
DEFAULT_EMAIL=sender_email
# Host SMTP server address.
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
TLS=True


# --------- CORS Settings ---------
# Insert the allowed origins to access the API.
# All should be within a string, separated by commas.
CORS_ALLOWED_ORIGINS="https://localhost, https://127.0.0.1, http://localhost, http://127.0.0.1"


# --------- Allowed Hosts ---------
# Specify the allowed hosts for production.
# All should be within a string, separated by commas.
ALLOWED_HOSTS="localhost, 127.0.0.1, 0.0.0.0"


# ---------- Redirect links to the email body -------------------
# Redirect links in the email body, for the user to click and be redirected.
REDIRECT_TO_RESET_PASSWORD_PAGE=domain/reset/password/
REDIRECT_TO_ACTIVATE_ACCOUNT_PAGE=domain/activate/account/
REDIRECT_TO_LOGIN_PAGE=domain/login/
