
## ------------  Environment -------------
# Set "development".
API_ENV=development


# --------- Database Settings ---------
POSTGRES_DB=database_name
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
# Database host
# If you are using Postgres via Docker Compose, insert the name of the service you 
# specified in the Compose file and not "localhost".
# Do not insert "localhost" to avoid issues when starting the Postgres container.
POSTGRES_HOST="Name of the service you gave in Docker Compose"
