amqp==5.3.1
asgiref==3.8.1
celery==5.4.0
Django==5.0.4
django-celery-beat==2.7.0
django-cors-headers==4.3.1
djangorestframework==3.15.1
gunicorn==23.0.0
kombu==5.4.2
psycopg2-binary==2.9.9
python-dotenv==1.0.1
redis==5.2.0
sqlparse==0.5.0
urllib3==2.2.1
time-machine==2.16.0
tzdata==2024.2
PyJWT==2.8.0
# Dependências de teste (somente se necessário em produção)
pytest==8.1.1
pytest-django==4.8.0

